{% extends "base.html" %}

{% block app_content %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}

    <form method="POST" action="">
        {% csrf_token %}
        <div class="m-5 p-5 bg-light">
            <div class="form-group mt-2 ml-5 mr-5 pt-2 pl-5 pr-5">
            <label for="exampleInputUsername">Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp">
            </div>
            <div class="form-group mt-2 ml-5 mr-5 pt-2 pl-5 pr-5">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mt-2 ml-5 mr-5 pt-2 pl-5 pr-5">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}